:root {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#newBookBtn {
   padding: 10px;
   border-radius: 5px;
   border: none;
   color: white;
   font-weight: 600;
   background-color: #4338ca;
   cursor: pointer;
   box-shadow: black 3px 3px;
}
#newBookBtn:active {
    background-color: #5f53dd;
    translate: 3px 3px;
    box-shadow: black 0px 0px;
    transition: 100ms;
}

main {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form {
    border: solid;
    border-color: rgb(168, 165, 165) ;
    border-width: 1px;
    border-radius: 5px;
    height: 300px;
    width: 50%;
    padding: 5%;
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
form label, input {
    display: block;
}
form input {
    height: 20px;
    font-size: 15px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(192, 188, 188);
}

#library {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(168, 165, 165) ;
    height: 300px;
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#library div {
    font-size: 14px;
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
    
}

#library button {
    padding: 7px;
   border-radius: 5px;
   border: none;
   color: white;
   font-size: 12px;
   font-weight: 600;
   background-color: #818cf8;
   cursor: pointer;
   box-shadow: black 3px 3px;
} 
#library button:active {
    background-color: #5361e2;
    translate: 3px 3px;
    box-shadow: black 0px 0px;
    transition: 100ms;
}

#submitBtn {
    padding: 10px;
   border-radius: 5px;
   border: none;
   color: white;
   margin-top: 10px;
   font-weight: 600;
   background-color: #6366f1;
   cursor: pointer;
   box-shadow: black 3px 3px;
   
}
#submitBtn:active {
    background-color: #5f53dd;
    translate: 3px 3px;
    box-shadow: black 0px 0px;
    transition: 100ms;
}
